<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>login</title>
</head>
<body>
    <div class="navbar-container">
        <div class="nav-content">
            <div class="nav-header">
                <h1>TEST SITE</h1>
            </div>
            <div class="nav-itms">
                <ul class="links">
                    <li><a href="/"><h3>HOME</h3></a></li>
                    <li class="active"><a  href="/login"><h3>LOGIN</h3></a></li>
                    <li><a href="/register"><h3>REGISTER</h3></a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="main-container">
        <div class="main-content">
            
            <form class="form" action="/login" method="post">
                   
                    <div class="label"><label for="email">EMAIL</label></div>
                    <div class="inputs">
                        <input type="email" name="email" required>
                    </div>
                    <div class="label"><label for="password">PASSWORD</label></div>
                    <div class="inputs">
                        <input type="password" name="password" required>
                    </div>
                    <div class="btn-cont">
                        <button  class="btn" type="submit">SUBMIT</button>
                    </div>
            </form>
            
        </div>

    </div>
</body>
</html>

